@model IEnumerable<OneToOne.TblStudent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Std_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Std_Phn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Std_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TblGuardian.G_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Std_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Std_Phn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Std_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TblGuardian.G_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.R_no }) |
            @Html.ActionLink("Details", "Details", new { id=item.R_no }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.R_no })
        </td>
    </tr>
}

</table>
